@font-face {
  font-family: f1Font;
  src: url(Electrolize-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  font-family: f1Font;
  overflow: hidden;
}

body {
  transform: translateY(1px);
  margin: 0px;
  background-color: #EEEEEE;
  will-change: transform;
}

.buttonCenterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px;
}

button {
  background-color: #29abe2;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  font-family: f1Font;
  cursor: pointer;
}

.intro {
 padding: 50px 0px 0px 0px;
}

.intro-name {
  width: 550px;
  margin: 50px auto;
}

.intro-name-image {
  width: 200px;
  padding: 0px;
}

.intro-name-text-table {
  width: 300px;
  font-size: 100px;
}

.intro-name-text-text {
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 100px;
}

.intro-quote {
  width: 100%;
  margin: 0px;
  font-size: 40px;
  text-align: center;
}

#carZOOOM {
  margin-bottom: calc(100vh - 700px);
  width: 915px;
  height: auto;
}

.content-header-left {
  width: 50px;
  padding: 20px 10px 20px 5px;
  background-color: black;
  border-right: 7px solid blue;
  text-align: left;
}

.content-left {
  margin-bottom: 70px;
}

.content-left table {
  border-spacing: 0px;
}

.content-left h3 {
  position: relative;
  margin: 0px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #EEEEEE;
  font-size: 45px;
}

.content-header-right {
  width: 50px;
  padding: 20px 10px 20px 5px;
  background-color: black;
  border-left: 7px solid blue;
  text-align: left;
}

.content-right {
  margin-bottom: 70px;
}

.content-right table {
  border-spacing: 0px;
  width: 100%;
}

.content-right h3 {
  position: relative;
  margin: 0px;
  writing-mode: vertical-lr;
  color: #EEEEEE;
  font-size: 45px;
}

.content-content {

}

.content-content-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content-content-flex-child-MTT {
  width: 400px;
  background-color: #EEEEEE;
  margin: 20px;
}

.content-content-flex-child-image {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
  object-fit: cover;
}

.content-content-flex-child-name {
  text-align: center;
  font-size: 30px;
  margin: 10px auto 0px;
}

.content-content-flex-child-role {
  text-align: center;
  margin: 0px auto 5px;
  font-size: 20px;
  color: #0071bc;
}

.content-content-flex-child-description {
  display: none;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.sponsor-image{
  width: 300px;
  margin: 20px;
  height: auto;
}
